@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* bg color */
    --bg-master: #132C33;
    --bg-two: #126E82;
    --bg-three: #368b96;
    --bg-four: #D8E3E7;

    /* font */
    --headingFont: 'Merriweather', serif;
    --bodyFont: 'Inter', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-three);
}

/* Navbar Start */
nav {
    background-color: var(--bg-master);
    font-family: var(--headingFont);
    letter-spacing: 2px;
}

.navbar-brand .logo {
    height: 60px;
    width: auto;
}
/* Navbar End */

/* Homepage Start */
#home {
    background-image: url(../img/Home\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 757px;
}

h1 {
    font-family: var(--headingFont);
}
/* Homepage End */

/* News Start */
#news {
    background-color: var(--bg-three);
}

#news p button {
    font-family: var(--bg-four);
    font-size: 18px;
}

.img-news {
    background-color: #d8e3e7;
    width: 521px;
    height: 561px;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
}

.img-news img {
    /* scale: 100%; */
    /* border-radius: 30px 30px 0 0; */
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
/* News End */

/* Event Start */
#event {
    background-color: var(--bg-master);
}

.img-event {
    scale: 90%;
    background-color: #d8e3e7;
    width: 348px;
    height: 538px;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}

.img-event img {
    /* scale: 100%; */
    /* border-radius: 30px 30px 0 0; */
    transition: all 0.5s ease-in-out;
    z-index: 3;
}

.border-event {
    scale: 100%;
    border: 2px solid #ffffff;
    border-radius: 50px;
}
/* Event End */

/* Contact Start */
#contact {
    background-color: var(--bg-three);

}

.form-contact {
    margin: 0 auto;
    padding: 0;
    width: 500px;
    border-radius: 30px;
    background-color: #fff;
}
/* Contact End */

/* Footer Start */
#footer {
    background-color: var(--bg-master);
    border-radius: 20px 20px 0px 0px;
}

#footer .logo {
    height: 170px;
}

#footer #footer-brand {
    color: #fff;
    font-family: var(--headingFont);
    font-weight: 900;
}

.col1 a {
    color: #fff;
}

footer a {
    text-decoration: none;
}

.col2 h3,
.col3 h3,
.col4 h3,
.col5 h3 {
    color: #fff;
    margin-bottom: 20px;
    font-family: var(--headingFont);
    font-weight: 700;
}

.col2 ul li,
.col3 ul li,
.col4 ul li {
    list-style: none;
    margin: 10px 0;
}

.col2 a,
.col3 a,
.col4 a {
    color: #fff;
}
/* Footer Start */

/* About Start */
.struktur {
    margin: 5% 0%;
    display: flex;
    justify-content: center;
}

.profile {
    width: 20%;
    margin: 0% 5%;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.profile:hover {
    box-shadow: 8px 16px rgba(0, 0, 0, 0.4);
}

.profile-txt {
    height: max-content;
    text-align: center;
    padding: 10px 16px;
    background-color: var(--bg-four);
}
/* About End */

/* Footer Start */
.btn-contact {
    height: 60px;
    border: none;
    color: #d8e3e7;
    background-color: #132C33;

    /* font */
    font-size: 1.3em;
    font-weight: 700;

    transition: all 0.5s ease-in-out;
    border-radius: 0px 0px 30px 30px;
}

.btn-contact:hover {
    background-color: #395a62;
    /* border-radius: 30px 0 0 0; */
}

.col3 a,
.col4 a {
    color: #fff;
}

/* Footer End */

/* Sejarah Start */
#sejarah {
    width: 90%;
    height: auto;
    margin: 5%;
    padding: 2%;
    display: flex;
}

#sejarah p {
    font-size: 19px;
    height: auto;
    font-family: var(--bodyFont);
}

/* Sejarah End */

.btn-contact {
    height: 60px;
    border: none;
    color: #d8e3e7;
    background-color: var(--bg-master);

    /* font */
    font-size: 1.3em;
    font-weight: 700;

    transition: all 0.5s ease-in-out;
    border-radius: 0px 0px 30px 30px;
}

.btn-contact:hover {
    background-color: #395a62;
    /* border-radius: 30px 0 0 0; */
}

/* Text */
.section-padding {
    padding: 100px 0px;
}

.btn-home {
    font-family: var(--bodyFont);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.h-head {
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0px 0px 40px 0px;
}